#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Select_Container {
  width: 100%;
  padding-bottom: 0px;
}

.Select_Container dl {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.Select_Container dt {
  font-size: 1.0rem;
}

.Check_Container {
  display: flex;
  justify-content: center;
}

.Generate_Container {
  font-size: 1.5rem;
  background-color: #eee;
  padding: 1rem;
}